#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(39, 1fr);
}

#div1{
    grid-column: 1/3;
    grid-row: 1/5;
   
    width: 100%;
    /* height: 310px; */
    background-color: green;
   
}

#div2{
    background-color: green;
    grid-column: 3/4;
    grid-row: 1/5;
    /* height: 310px; */
    opacity: .8;
}

#div3{
    grid-column: 1/3;
    grid-row: 5/17;
    width: 100%;
    /* height: 1170px; */
}

#div4{
    grid-column: 3/4;
    grid-row: 5/17;
    height:1170px;
    background-color: greenyellow;
    opacity: .2
}

#div5{
    grid-column: 1/3;
    grid-row: 17/25;
}

#div6{
    grid-column: 3/4;
    grid-row: 17/25;
}

#div7{
    grid-column: 1/3;
    grid-row: 25/34;
}

#div8{
    grid-column: 3/4;
    grid-row: 25/34;
}

#div9{
    grid-column: 1/4;
    grid-row: 34/38;
}

#div10{
    grid-column: 1/4;
    grid-row: 38/40;
}