body{
    display: flex;
    justify-content: space-evenly;
}

#addition{
    color: red;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
    
}

#subtraction{
    color: blue;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#multiplication{
    color: green;
    display: flex;
    flex-direction: column;
    margin: 20px;
}