html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: grid;
  flex-direction: column;
}
header {
  text-align: center;
  padding: 20px;
  height: 100px;
}

button {
  padding: 10px;
  border: none;
  margin: 10px;
}

.dark-theme {
  background-color: #121212;
  color: #3e50b4;
}

.light-theme {
  background-color: whitesmoke;
  color: #333333;
}

.main {
  min-height: calc(100vh - 1px -100px);
}

footer {
  text-align: center;
  height: 100px;
  padding: 20px;
  margin-top: auto;
}
