.image {
  height: 200px;
  width: 300px;
}

.div-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 140px;
}

body {
  background-color: brown;
}

h1 {
  position: relative;
  text-align: center;
}
