* {
  box-sizing: border-box;
  font-size: 0px;
}

.one {
  height: 100px;
  background-color: #f5c6d6;
  border: 5px solid white;
}
.two {
  background-color: #ee2e84;
  border: 5px solid white;
  height: 100px;
  width: 300px;
}
.three {
  height: 100px;
  background-color: #85cfd8;
  border: 5px solid white;
}
.four {
  height: 100px;
  width: 50px;
  background-color: #8dc63f;
  border: 5px solid white;
}
.five {
  height: 100px;
  width: 50px;
  background-color: #e76e34;
}
